@model IEnumerable<Proje.Models.Parca>

@{
    ViewData["Title"] = "Parçalar";
}

<h2 style="color: #0A4D8C;">Parçalar</h2>

@if (!User.IsInRole("Teknisyen"))
{
    <p>
        <a asp-action="Create" class="btn btn-light border border-success" style="color: #2ecc71; font-weight: bold;">
            <i class="bi bi-plus-lg" style="font-weight: bold; color: #2ecc71;"></i> EKLE
        </a>
    </p>

}
<div class="d-flex justify-content-end mb-3">
    @if (User.IsInRole("Şef"))
    {
        <a asp-action="ExportToExcel" class="btn btn-outline-success" title="Excel'e Aktar">
            <i class="fa-solid fa-file-excel"></i> Excel'e Aktar
    </a>}
</div>

<table class="table display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirimFiyat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirimFiyat)
            </td>
                <td class="text-end">
                    <div class="d-inline-flex align-items-center justify-content-end">
                        @if (User.IsInRole("Şef"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" title="Düzenle"
                               style="color: #0d6efd; font-size: 18px; margin-left: 8px;">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        }
                            <a asp-action="Details" asp-route-id="@item.Id" title="Detaylar"
                               style="color: #0d6efd; font-size: 18px; margin-left: 8px;">
                                <i class="bi bi-three-dots"></i>
                            </a>
                        @if (User.IsInRole("Şef"))
                        {
                            <a asp-action="Delete" asp-route-id="@item.Id" title="Sil"
                            style="color: red; font-size: 18px; margin-left: 8px;">
                                <i class="bi bi-trash-fill"></i>
                            </a>}
                        

                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @await Html.PartialAsync("_DataTablesInit")
}